<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409063719465-lgjv3pous43kefcebj8c0bl77an98g3n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409063719465-lgjv3pous43kefcebj8c0bl77an98g3n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>409063719465-4ojcrli251ogn8tgahb5m4jh8a3ssmu5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBO4CPlvZ_XcJDrtZTaAKciin37fd_Swa8</string>
	<key>GCM_SENDER_ID</key>
	<string>409063719465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eto.userMainIos</string>
	<key>PROJECT_ID</key>
	<string>eto-motors</string>
	<key>STORAGE_BUCKET</key>
	<string>eto-motors.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409063719465:ios:b30c35b76f3ffe496b5238</string>
	<key>DATABASE_URL</key>
	<string>https://eto-motors-default-rtdb.firebaseio.com</string>
</dict>
</plist>