<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167903828680-g28ejrf20bs34aef2ujst97f33htf4eu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167903828680-g28ejrf20bs34aef2ujst97f33htf4eu</string>
	<key>API_KEY</key>
	<string>AIzaSyBgelLs_bGCIiSmVUOS1pjwARZX7kWebf4</string>
	<key>GCM_SENDER_ID</key>
	<string>167903828680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.touktouk.customer</string>
	<key>PROJECT_ID</key>
	<string>touk-touk-taxi</string>
	<key>STORAGE_BUCKET</key>
	<string>touk-touk-taxi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167903828680:ios:37b58f768132b56561a3fd</string>
	<key>DATABASE_URL</key>
	<string>https://touk-touk-taxi-default-rtdb.firebaseio.com</string>
</dict>
</plist>